body{
    @apply bg-violet-950;
    width: 100vw;
}
nav a:hover{
    @apply px-2 bg-violet-600 rounded
}
form{
    @apply max-w-80 w-full p-3 rounded-xl;
    label{
        @apply block text-white my-2 w-full
    }
    input , textarea {
        @apply bg-violet-800 border-none outline-none px-3 py-2 text-white w-full rounded  
    }
    textarea{
        @apply h-48 resize-none;
    }
}
.bars p , .bars1 p{
    @apply h-1 w-9 bg-white rounded
}
.bars1 p:first-child{
    @apply absolute ;
    top : 10px;
    rotate: -45deg;
}
.bars1 p:last-child{
    @apply absolute;
    top: 10px;
    rotate:45deg;
}